@import "tailwindcss";

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%; /* make gradient larger so it moves */
  animation: gradientMove 5s ease infinite;
}
@media (max-width: 898px) {
  #intro {
    font-size: 5rem;
  }
}
@media (max-width: 751px) {
  #intro {
    font-size: 3.5rem;
  }
}
@media (max-width: 656px) {
  #navbar {
    display: none;
  }
  .about-divs {
    font-size: 1.2rem;
    margin-left: 2rem;
    align-items: center;
  }
  .about-heading {
    font-size: 2rem;
    /* margin-left: -1rem; */
  }
  /* .about-main-box{
    align-items: center;
    margin: 0;
  } */
}
@media (max-width: 440px) {
  #intro-buttons {
    flex-direction: column;
  }
}
@media (min-width: 656px) {
  #hamburger {
    display: none;
  }
  .navbar-ham {
    justify-content: center;
    flex-direction: row-reverse;
  }
}
@media (max-width: 406px) {
  #about-index {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 829px) {
  .project-heading {
    font-size: 2.6rem;
  }
}

@media(max-width:520px){
  .contact-input{
    width: 25rem;
  }
}

@media(max-width:426px){
  .contact-input{
    width: 20rem;
  }
}

@media(max-width:355px){
  #connect-heading{
    font-size: 2.3rem;
  }
}